/**
 * @package myFolioTheme
 * User: jlavie
 *
 * ====================
 * ADMIN PAGE CSS
 * ====================
 */

$background-color: #1f1f1f;
$white: #ffffff;

.myfolio {
    &__preview,
    &__form {
         display: inline-block;
         float: left;
    }

    &__preview {
        width: 280px;
        background-color: $background-color;
        padding: 15px;
        text-align: center;
        margin-right: 15px;

        &__sidebar {
            display: block;
            text-align: center;

            &__profile {
                &__image {
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin: 20px auto;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            &__username,
            &__description {
                font-weight: 100;
                color: $white;
            }

            &__username {
                font-size: 23px;
                margin: 0 0 10px;
            }

            &__description {
                font-size: 13px;
                margin: 0 0 20px;
            }
        }
    }
}
